{
  "presets": ["@babel/preset-react"],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "displayName": false
      }
    ],
    "@babel/plugin-proposal-optional-chaining",
  ]
}

